// 1. Reset CSS 
// 2. Header CSS
// 3. Main CSS
// 4. Warp__hero CSS
// 5. Product CSS
// 6. About CSS
// 7. Product__warp CSS
// 8. Offer CSS
// 9. Service__wrap CSS
// 10. Cta__wrap  CSS
// 11. Feature__wrap CSS
// 12. Newsletter CSS
// 13. Testimonial CSS
// 14. Blog CSS
// 15. Footer CSS
/******************* Reset CSS *******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}


body {
  font-family: "Jost, sans-serif";
  font-size: 16px;
  line-height: 1.2em;
  background-color: #fff;	
}

img {
	max-width: 100%;
  height: auto;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  color: #010C2A;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.container_center {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 12px;
	width: 100%;
}
.overflow {
	overflow: hidden;
}
/*******************End Reset CSS *******************/

/*******************Header CSS *******************/
.header {
	.header__preloader {
		position: fixed;
  	top: 0;
  	left: 0;
 	 	width: 100%;
  	height: 100%;
  	z-index: 9999999;
  	background-color: #fff;
  	overflow: hidden;
		&.show {
			opacity: 0;
      visibility: hidden;
			transition: all 1s 1s ease-out;
		}
		img {
			position: relative;
			max-width: 100px;
			display: block;
			top: 50%;
			left: 50%;
		}
	}
	
	.header__wrap {
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
		margin-top: 30px;
		&.sticky {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 9999999;
			animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
			transition: all .7s cubic-bezier(.645,.045,.355,1);
			background-color: #015C3B;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			margin: 0 auto;
			.container_center {
				.header__box-navbar {
					background: none;
					box-shadow: none;
				}
			}
		}
		.header__box {
			background-color: #015C3B;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			padding: 0 15px;
      border-radius: 5px;
			.header__box-navbar {
				position: relative;
        display: flex;
				padding: 16px 30px 16px 0;
				.navbar__logo {
					margin-right: 15px;
					img {
						max-width: 100%;
    				height: auto;
					}
				}
				.navbar__menu {
					display: flex;
					margin-left: auto;
					margin-right: 0;
					 .mobile__menu {
						.navbar__menu-nav {
							display: flex;
							list-style: none;
							align-items: center;
							margin-top: 4%;
							.first__menu {
								position: relative;
								margin: 0 14px;
								> a {
									color: #D4AD19;
									svg {
										margin-left: 5px;
									}
								}
								.first__menu-drop {
									opacity: 0;
									visibility:hidden;
									list-style: none;
									border: none;
									position: absolute;
									top: 50px;
									left: -23%;
									width: 250px;
									padding: 12px 0;
									padding-right: 50px;
									background-color: #015C3B;
									box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
									border-radius: 1px;
									transform: rotateX(-75deg); 
									transition-duration: 0.5s;
									transform-origin: 0% 0%;
									.drop__first {
										position: relative;
										padding: 15px 20px;
										.drop__first-link {
											color: #D4AD19;
											padding-left: 10px;
											&:before {
												content: "";
												height: 16px;
												background-color: #D4AD19;
												position: absolute;
												top: 37%;
												left: 12px;
												width: 2px;
											}
										}
									}
									.drop__list {
										position: relative;
										padding: 15px 20px;
										> a {
											color: #fff;
											&:before {
												content: "";
												height: 16px;
												background-color: #D4AD19;
												position: absolute;
												top: 37%;
												left: 12px;
												width: 2px;
												transition-duration: 0.4s;
												visibility:hidden;
												opacity: 0;
											}
										}
										&:hover {
											> a {
												color: #D4AD19;
												transition-duration: 0.4s;
												padding-left: 10px;
												&:before {
													visibility: visible;
													opacity: 1;
												}
											}
										}
									}
								}
								&:hover {
									a {
										svg {
											transform: rotate(180deg);
											transition: all 0.4s 0.1s ease-out;
										}
									}
									.first__menu-drop {
										opacity: 1;
										visibility: visible;
										transform: rotatex(0deg);
									}
								}
							}
							.nav__item {
								position: relative;
								margin: 0 14px;
								> a {
									color: #fff;
									svg {
										font-size: 12	px;
										margin-left: 5px;
									}
								}
								.nav__item-drop {
									opacity: 0;
									visibility:hidden;
									list-style: none;
									border: none;
									position: absolute;
									top: 50px;
									left: -23%;
									width: 250px;
									padding: 12px 0;
									padding-right: 50px;
									background-color: #015C3B;
									box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
									border-radius: 1px;
									transform: rotateX(-75deg); 
									transition-duration: 0.5s;
									transform-origin: 0;
									.drop__list {
										position: relative;
										padding: 15px 20px;
										> a {
											color: #fff;
											&:before {
												content: "";
												height: 16px;
												background-color: #D4AD19;
												position: absolute;
												top: 37%;
												left: 12px;
												width: 2px;
												transition-duration: 0.4s;
												visibility:hidden;
												opacity: 0;
											}
										}
										&:hover {
											> a {
												color: #D4AD19;
												transition-duration: 0.4s;
												padding-left: 10px;
												&:before {
													visibility: visible;
													opacity: 1;
												}
											}
										}
									}
								}
								&:hover {
									a {
										color: #D4AD19;
										svg {
											color: #D4AD19;
											transform: rotate(180deg);
											transition: all 0.4s 0.1s ease-out;
										}
									}
									.nav__item-drop {
										opacity: 1;
										visibility: visible;
										transform: rotatex(0deg);
									}
								}
							}
							.nav__blog {
								position: relative;
								margin: 0 14px;
								> a {
									color: #fff;
									svg {
										font-size: 12	px;
									}
								}
								.nav__blog-drop {
									opacity: 0;
									visibility:hidden;
									list-style: none;
									border: none;
									position: absolute;
									top: 50px;
									left: -23%;
									width: 250px;
									padding: 12px 0;
									padding-right: 50px;
									background-color: #015C3B;
									box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
									border-radius: 1px;
									transform: rotateX(-75deg); 
									transition-duration: 0.5s;
									transform-origin: 0% 0%;
									.drop__list {
										position: relative;
										padding: 15px 20px;
										> a {
											color: #fff;
											&:before {
												content: "";
												height: 16px;
												background-color: #D4AD19;
												position: absolute;
												top: 37%;
												left: 12px;
												width: 2px;
												transition-duration: 0.4s;
												visibility:hidden;
												opacity: 0;
											}
											> svg {
												margin: 0;
												position: absolute;
												top: 42%;
												font-size: 13px;
												right: 15px;
											}
										}
										&:hover {
											> a {
												color: #D4AD19;
												transition-duration: 0.4s;
												padding-left: 10px;
												&:before {
													visibility: visible;
													opacity: 1;
												}
												> svg {
													transform: rotate(180deg);
													transition: all 0.2s 0.2s ease-out;
												}
											}
										}
										//menu cấp 3
										.drop__listblog {
											opacity: 0;
											visibility:hidden;
											list-style: none;
											border: none;
											position: absolute;
											top: 5px;
											left: -100%;
											padding: 12px 0;
											padding-left: 20px;
											background-color: #015C3B;
											box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
											border-radius: 1px;
											.drop__listblog-list {
												position: relative;
												padding: 15px 20px;
												> a {
													color: #fff;
													&:before {
														content: "";
														height: 16px;
														background-color: #D4AD19;
														position: absolute;
														top: 37%;
														left: 12px;
														width: 2px;
														transition-duration: 0.4s;
														visibility:hidden;
														opacity: 0;
													}
												}
												&:hover {
													.listblock-link {
														color: #D4AD19;
														transition-duration: 0.4s;
														padding-left: 10px;
														&:before {
															visibility: visible;
															opacity: 1;
														}
													}
												}
											}
										}
										&:hover {
											opacity: 1;
											visibility: visible;
											transform: rotatex(0deg);
											.drop__listblog {
												visibility: visible;
												opacity: 1;
												transition: all 0.2s 0.1s ease-out;
											}
										}
									}
								}
								&:hover {
									> a {
										color: #D4AD19;
									>	svg {
											color: #D4AD19;
											transform: rotate(180deg);
											transition: all 0.4s 0.1s ease-out;
										}
									}
									.nav__blog-drop {
										opacity: 1;
										visibility: visible;
										transform: rotatex(0deg);
									}
								}
							}
						}
						.btn__mobile {
							display: none;
						}
					 }
					.navbar__menu-option {
						display: flex;
						svg {
							color: #fff;
						}
						.option__item {
							margin: auto;
							.option__item-search {
								background-color: transparent;
								border: none;
								padding: 0;
								position: relative;
								top: 2px;
								margin-left: 30px;
								svg {
									font-size: 20px;
									line-height: 60px;
								}
							}
							.option__item-shopcart {
								position: relative;
								top: 2px;
								padding-right: 5px;
								margin-left: 30px;
								svg {
									font-size: 28px;
									line-height: 60px;
								}
								span {
									position: absolute;
									top: 6px;
									right: 0px;
									width: 23px;
									height: 23px;
									border-radius: 50%;
									background-color: #FF3838;
									text-align: center;
									line-height: 23px;
									color: #fff;
									font-size: 12px;
								}
							}
							.option__item-button {
								display:inline-block;
								line-height: 35px;
								font-weight: 500;
								text-align: center;
								transition: all 0.7s ease-in-out;
								position: relative;
								z-index: 1;
								border: none;
								padding: 14px 35px 14px;
								color: #fff;
								overflow: hidden;
								white-space: nowrap;
								margin-left: 30px;
								&:before {
									position: absolute;
									top: 0;
									left: 0;
									content: "";
									width: 100%;
									height: 100%;
									z-index: -1;
									background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
								}
							}
						}
					}
					.menu__mobile {
						display: none;
					}
				}
			}
		}
	}
}
/*******************End Header CSS *******************/

/*******************Main CSS *******************/
.main {
	/*******************Warp__hero CSS *******************/
	.warp__hero {
		background-color: #024E32;
    padding: 170px 0 90px;
    position: relative;
    z-index: 1;
		.wrap__hero-shape {
			.hero__shape-one {
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: -1;
			}
			.hero__shape-two{
				position: absolute;
    		top: 0;
    		left: 0;
    		z-index: -1;
			}
			.hero__shape-three {
				position: absolute;
    		bottom: 0;
    		right: 0;
    		z-index: -1;	
			}
			.hero__shape-four {
				position: absolute;
    		top: 20%;
    		left: 50%;
    		z-index: -1;
    		transform: translateX(-50%);
			}
		}
		.warp__hero-container {
			width: 100%;
			padding-right: 15px;
    	padding-left: 15px;
			display: flex;
			align-items: center!important;
			.hero__content {
				width: 50%;
				h1 {
					color: #fff;
					font-weight: 700;
					line-height: 1.3;
					margin-bottom: 20px;
					opacity: 1;
    			transform: translateZ(0);
				}
				p {
					color: rgba(255, 255, 255, 0.8);
					font-size: 16px;
    			line-height: 1.8;
					margin-bottom: 35px;
					opacity: 1;
    			transform: translateZ(0);
				}
				.hero__content-btn {
					display: inline-block;
    			line-height: 26px;
    			font-weight: 500;
					text-align: center;
					position: relative;
    			z-index: 1;
    			border: none;
    			padding: 14px 35px 14px;
    			border-radius: 0;
    			color: #fff;
    			overflow: hidden;
    			white-space: nowrap;
					opacity: 1;
    			transform: translateZ(0);
					&:before {
						content: "";
						background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
						position: absolute;
    				top: 0;
    				left: 0;
    				width: 100%;
    				height: 100%;
    				z-index: -1;
						transition: all 0.4s ease-in-out;
					}
					&:after {
						content: "";
						position: absolute;
    				bottom: 0;
    				right: 0;
						width: 0;
						height: 100%;
						visibility: hidden;
    				opacity: 0;
    				z-index: -1;
            transition: all 0.4s ease-in-out;
						background: linear-gradient(-90deg, #A8DC51 0%, #4CA754 99.88%);
					}
					&:hover {
						color: white;
						&:after {
							width: 100%;
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
			.hero__img {
				width: 50%;
				position: relative;
				.hero__img-discount {
					position: absolute;
    			top: 100px;
    			left: 50%;
					transform: translateX(-50%);
    			width: 100px;
    			height: 100px;
    			border-radius: 50%;
    			text-align: center;
    			background-color: #DCBE4A;
    			color: #fff;
    			font-size: 24px;
    			font-weight: 600;
    			padding: 10px;
    			z-index: 10;
					line-height: 1.5;
				}
				.hero__img-item1 {
					display: block;
					position: relative;
					top: 50%;
					left: 28%;
				}
				.hero__img-item2 {
					display: block;
					margin: 0 auto;
					position: absolute;
    			top: 5%;
    			left: -6%;
    			z-index: -1;
					animation: spin 20s linear infinite;
				}
			}
		}
	}
	@keyframes spin {
		0% { 
				transform: rotate(0deg);
		}
		100% {
				transform: rotate(360deg);
		}
	}
	/*******************End Warp__hero CSS *******************/

	/*******************Product CSS *******************/
	.product {
		position: relative;
		z-index: 1;
		padding-top: 100px;
    padding-bottom: 100px;
		.product__content {
			padding: 0px 12px;
			.product__content-title {
				position: relative;
				margin: 0 0 40px 0;
				> span {
					color: #015C3B;
					display: inline-block;
   				font-weight: 500;
    			margin: 0 0 10px;
    			position: relative;
    			z-index: 1;
    			line-height: 1;
    			padding-left: 34px;
					> img {
						position: absolute;
						top: -3px;
						left: -5px;
						max-width: 25px;
					}
				}
				h2 {
					font-size: 42px;
					line-height: 1.3;
					font-weight: 700;
					margin: 0;
				}
			}
			.product__content-slider {
				position: relative;
        height: 100%;
				background: #eee;
        font-size: 14px;
        color: #000;
        padding: 0;
				margin: -15px -10px;
				.swiper {
					width: 100%;
					height: 100%;
					margin-left: auto;
					margin-right: auto;
					background: #fff;
					.swiper-wrapper {
						transition-duration: 1000ms;
						.swiper-slide {
							text-align: center;
							font-size: 18px;
							align-items: center;
							transition-duration: 0.4s;
							box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
   						padding: 25px;
    					position: relative;
							.slide__number {
								position: absolute;
    						top: 20px;
    						right: 20px;
    						font-size: 80px;
    						color: #DCBE4A;
    						opacity: 0.2;
    						line-height: 1;
							}
							.product__slide-item {	

    						width: 65px;
    						height: 65px;
    						border-radius: 50%;
    						background-color: rgba(2, 78, 50, 0.07);
    						text-align: center;
    						margin: 0 0 18px;
    						transition-duration: 0.4s;
    						position: relative;
    						overflow: hidden;
    						z-index: 1;
								> svg {
									font-size: 34px;
									line-height: 1;
    							color: #024E32;
    							transition-duration: 0.4s;
									padding: 15px 0px;
								}
								&:before {
									content: "";
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									z-index: -1;
									transition: all 0.4s ease-in-out;
								}
								&:after {
									content: "";
									position: absolute;
									bottom: 0;
									left: 0;
									width: 100%;
									height: 0;
									content: "";
									background-color: #024E32;
									z-index: -1;
									visibility: hidden;
									opacity: 0;
									transition: all 0.4s ease-in-out;
								}
							}
							.product__slide-info {
								text-align: left;
								> h3 {
									margin: 0 0 12px;
									> a {
										color: #000;
    								text-transform: inherit;
    								text-decoration: none;
    								transition: all 0.3s ease;
									}
								}
								> p {
									margin: 0;
									font-size: 16px;
    							line-height: 1.8;
    							color: #666666;
								}
							}
							&:hover {
								transform: translateY(-5px);
								.product__slide-item {
									background-color: #024E32;
									> svg {
										color: #fff;
									}
									&:after {
										height: 100%;
										visibility: visible;
										opacity: 1;
									}
								}
							}
						}
					}	
				}
			}
			.swiper__button {
				position:absolute;
				width: 100px;
				height: 100px;
				right: 0%;
				right: 12%;
				top: 20%;
				font-size: 26px;
				display: flex;
				.button-prev, .button-next {
    			border-radius: 50%;
    			text-align: center;
    			position: relative;
    			overflow: hidden;
    			z-index: 1;
    			background: rgba(2, 78, 50, 0.1);
    			transition: all 0.4s ease-in-out;
					width: 50px;
					height: 50px;
					color: #024E32;
    			font-size: 26px;
					> svg{
						padding: 12px 0;
					}
					&:hover {
						background-color: #DCBE4A;
						color: #fff;
					}
				}
			}
		}
	}
	/*******************End Product CSS *******************/

		/*******************About CSS *******************/
	.about {
		position: relative;
    z-index: 1;
		padding-top: 100px;
		padding-bottom: 100px;
		display: flex;
		.about__img1 {
			position: absolute;
    	z-index: -1;
			max-width: 100%;
    	height: auto;
			top: 100px;
    	left: 0;
			animation:image1 3000ms infinite linear;
		}
		.about__img2 {
			position: absolute;
    	z-index: -1;
			max-width: 100%;
    	height: auto;
			bottom: 100px;
      right: 0;
			animation: image2 7s infinite linear;
		}
		.container_center {
			display: flex;
			.about__content-img {
				width: 50%;
				.content-img {
					display: block;
    			margin: 0 auto;
					max-width: 100%;
    			height: auto;
					> img {
						margin: 0 30px;
					}
				}
			}
			.about__content-text {
				width: 50%;
				margin: auto 0;	
				padding: 0 24px;
				margin-left: 50px;
				.text__title {
					position: relative;
					> span {
						color: #015C3B;
						display: inline-block;
   				  font-weight: 500;
    				margin: 0 0 10px;
   			  	position: relative;
    				z-index: 1;
    				line-height: 1;
    				padding-left: 34px;
						> img {
							position: absolute;
    					top: -3px;
    					left: 0;
    					max-width: 25px;
						}
					}
					> h2 {
						font-size: 42px;
						font-weight: 700;
    				line-height: 1.4;
    				color: #000;
					}
					> h5 {
						line-height: 1.4;
						color: #000;
						font-weight: 500;
						font-size: 17px;
						margin: 15px 0 15px;
					}
					> p {
						padding-right: 25px;
						margin: 12px 0 0;
						font-size: 16px;
						line-height: 1.8;
						color: #666666;
					}
				}
				.about__content-btn {
					display: inline-block;
    			line-height: 26px;
    			font-weight: 500;
					text-align: center;
					position: relative;
    			z-index: 1;
    			border: none;
    			padding: 14px 35px 14px;
    			border-radius: 0;
    			color: #fff;
    			overflow: hidden;
    			white-space: nowrap;
					opacity: 1;
    			transform: translateZ(0);
					margin-top: 30px;
					&:before {
						content: "";
						background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
						position: absolute;
    				top: 0;
    				left: 0;
    				width: 100%;
    				height: 100%;
    				z-index: -1;
						transition: all 0.4s ease-in-out;
					}
					&:after {
						content: "";
						position: absolute;
    				bottom: 0;
    				right: 0;
						width: 0;
						height: 100%;
						visibility: hidden;
    				opacity: 0;
    				z-index: -1;
            transition: all 0.4s ease-in-out;
						background: linear-gradient(-90deg, #A8DC51 0%, #4CA754 99.88%);
					}
					&:hover {
						color: white;
						&:after {
							width: 100%;
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	@keyframes image1 {
		0% {
			-webkit-transform: translateY(0px);
			transform: translateY(0px)
	}

	50% {
			-webkit-transform: translateY(-20px);
			transform: translateY(-20px)
	}

	100% {
			-webkit-transform: translateY(0px);
			transform: translateY(0px)
	}
	}
	@keyframes image2 {
		0% {
			-webkit-transform: rotate(0deg);
			transform:rotate(0deg);
	}

	25% {
			-webkit-transform: rotate(3deg);
			transform: rotate(3deg);
		}

	50% {
			-webkit-transform: rotate(6deg);
			transform: rotate(6deg);
		}

	75% {
			-webkit-transform: rotate(-3deg);
			transform: rotate(-3deg);
		}

	100% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}
		/*******************End About CSS *******************/

		/*******************Product__warp CSS *******************/
	.product__warp {
		position: relative;
    z-index: 1;
		background-color: #024E32;
		padding-top: 100px;
    padding-bottom: 100px;
		> img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			max-width: 100%;
		}
		.product__warp-content {
			position: relative;
			z-index: 1;
			.content__title {
				position: relative;
				margin-bottom: 40px ;
				text-align: center;
				> span {
					color: #DCBE4A;
					display: inline-block;
					font-weight: 500;
					margin: 0 0 10px;
					position: relative;
					z-index: 1;
					line-height: 1;
					padding-left: 34px;
					> img {
						position: absolute;
						top: -3px;
						left: 0;
						max-width: 25px;
					}
				}
				> h2 {
					color: #fff;
					font-size: 40px;
					font-weight: 700;
					line-height: 1.4;
				}
			}
			.content__list {
				text-align: center;
				margin-bottom: 40px;
				list-style: none; 
				> li {
					display: inline-block;
					margin:0 12px;
					a {
						display: inline-block;
						font-weight: 500;
						color: #fff;
						padding: 8px 22px;
						position: relative;
						background-color: #015C3B;
					}
					.filter-active {
						background-color: #DCBE4A;
    				border-color: transparent;
					}
				}
			}
		}
		.product__warp-slide  {
			position: relative;
      height: 100%;
			background: #eee;
      font-size: 14px;
      color: #000;
			background-color: #024E32;
			.swiper {
				position: relative;
        width: 100%;
        height: 100%;
				padding-bottom: 60px;
				.swiper-slide {
					text-align: center;
					font-size: 18px;
					background: #fff;
					display: flex;
					align-items: center;
					background-color: #024E32;
					.slide__card {
						margin-bottom: 25px;
						.card__img {
							position: relative;
    					border-radius: 0;
							> ul {
								position: absolute;
    						bottom: 0;
    						left: 50%;
    						transform: translateX(-50%);
    						background-color: rgba(2, 78, 50, 0.3);
    						padding: 20px 10px;
    						width: 200px;
    						border-radius: 50px;
    						text-align: center;
    						visibility: hidden;
    						opacity: 0;
    						transition-duration: 0.4s;
								> li {
									display: inline-block;
									margin-right: 10px;
									width: 40px;
    							height: 40px;
    							border-radius: 50%;
    							background-color: #fff;
    							text-align: center;
    							border: none;
    							transition-duration: 0.4s;
									> button {
										width: 40px;
    								height: 40px;
    								border-radius: 50%;
    								background-color: #fff;
    								text-align: center;
    								border: none;
    								transition-duration: 0.4s;
										> i {
											color: #000;
    									font-size: 18px;
    									line-height: 1;
    									margin: 0 auto;
    									transition-duration: 0.4s;
											padding: 10px 0;
										}
									}
									&:hover {
										background-color: #024E32;
										.fas {
											color: #fff;
										}
										> button {
											background-color: #024E32;
										}
									}
								}
							}
						}
						.card__info {
							align-items: center;
							padding: 0 12px;
							> h3 {
								width: calc(100% - 80px);
    						text-align: left;
								font-size: 24px;
								font-weight: 700;
    						line-height: 1.4;
								> a {
									color: #fff;
								}
							}
							> p {
								width: 75px;
								color: #DCBE4A;
								position: absolute;
								right: 0;
								bottom: 20px;
								font-weight: 600;
								font-size: 16px;
   						  line-height: 1.8;
							}
						}
					}
					&:hover {
						.slide__card {
							.card__img {
								> ul {
									visibility: visible;
									opacity: 1;
									bottom: 10px;
								}
							}
						}
					}
				}
				.swiper-pagination {
					position: absolute;
					overflow: hidden;
					.swiper-pagination-bullet {
						width: 20px;
						height: 10px;
						border-radius: 50px;
						background-color: rgba(255, 255, 255, 0.5);
						transition: .2s transform,.2s left;
					}
					.swiper-pagination-bullet-active {
						background-color: #DCBE4A;
						width: 30px;
						left: -56px;
					}
				}
      }
		}
	}
		/*******************End Product__warp CSS *******************/

		/*******************Offer CSS *******************/
	.offer {
		position: relative;
    z-index: 1;
		padding-top: 100px;
		padding-bottom: 100px;
		display: flex;
		.offer__img-left {
      position: absolute;
      z-index: -1;
      opacity: 0.5;
      bottom: 0;
      left: 0;
      animation: moveVertical 3000ms infinite ease-in-out;
    }
    .offer__img-right {
      bottom: 130px;
      left: 45%;
      position: absolute;
      z-index: -1;
      opacity: 0.5;
      animation: animationFramesTwo 20000ms infinite ease-in-out;
    }
		.container_center {
			display: flex;
			.offer__content-left {
				width: 50%;
        padding: 0 24px;
				position: relative;
				span {
					display: inline-block;
					font-weight: 500;
					margin: 0 0 10px;
					position: relative;
					z-index: 1;
					line-height: 1;
					padding-left: 34px;
					color: #015C3B;
					> img {
						position: absolute;
						top: -3px;
						left: 0;
						max-width: 25px;
					}
				}
				> h2 {
					font-size: 42px;
					line-height: 1.3;
				}
				> p {
					padding-right: 25px;
					font-size: 16px;
					line-height: 1.8;
					color: #666666;
					margin-top: 12px;
					margin-bottom: 30px;
				}
				.countdown-deals{
          max-width: 75%;
          margin-bottom: 50px;
          display: flex;
          .cdown {
						width: calc(25% - 10px);
            background: rgba(2, 78, 50,0.1);
            padding: 16px 10px;
            margin-right: 10px;
						.time-count {
							color: #024E32;
							font-size: 24px;
							font-weight: 600;
							display: flex;
							justify-content: center;
							padding-left: 0;
						}
						p{
							margin: 0;
							font-weight: 600;
							display: flex;
							justify-content: center;
						}
          }
        }
				.offer__content-btn {
					display: inline-block;
    			line-height: 26px;
    			font-weight: 500;
					text-align: center;
					position: relative;
    			z-index: 1;
    			border: none;
    			padding: 14px 35px 14px;
    			border-radius: 0;
    			color: #fff;
    			overflow: hidden;
    			white-space: nowrap;
					opacity: 1;
    			transform: translateZ(0);
					&:before {
						content: "";
						background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
						position: absolute;
    				top: 0;
    				left: 0;
    				width: 100%;
    				height: 100%;
    				z-index: -1;
						transition: all 0.4s ease-in-out;
					}
					&:after {
						content: "";
						position: absolute;
    				bottom: 0;
    				right: 0;
						width: 0;
						height: 100%;
						visibility: hidden;
    				opacity: 0;
    				z-index: -1;
            transition: all 0.4s ease-in-out;
						background: linear-gradient(-90deg, #A8DC51 0%, #4CA754 99.88%);
					}
					&:hover {
						color: white;
						&:after {
							width: 100%;
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}	
			.offer__content-right {
				width: 50%;
				padding: 0 24px;
				position: relative;
				.offer__slider {
					.item {
						position: relative;
						overflow: hidden	;
						.discout {
							position: absolute;
    					top: -30px;
    					right: -30px;
    					width: 150px;
    					height: 150px;
    					border-radius: 50%;
    					font-size: 18px;
    					font-weight: 600;
    					color: #fff;
    					background-color: #024E32;
    					text-align: center;
    					padding: 46px 10px 3px 0;
							> span {
								font-size: 30px;
    						display: block;
								line-height: 1.5;
							}
						}
						.product-offer-price {
							position: absolute;
    					top: 25px;
    					left: 25px;
    					background-color: #fff;
    					padding: 6px 25px;
    					color: #024E32;
    					font-size: 18px;
    					font-weight: 600;
						}
						> img {
							display: block;
    					width: 100%;
						}
					}
					.owl-dots {
						margin-top: 20px;
    				text-align: center;
						.owl-dot {
							display: inline-block;
    					margin: 0;
    					position: relative;
    					bottom: -5px;
							background: 0 0;
    					color: inherit;
    					border: none;
    					padding: 0!important;
    					font: inherit;
							> span {
								width: 20px;
    						height: 10px;
    						border-radius: 50px;
    						background-color: rgba(2, 78, 50, 0.1);
								transition: all 0.4s ease-in-out;

							}
						}
						.active {
							> span {
								width: 32px;
								background-color: #DCBE4A;
								transition: all 0.4s ease-in-out;
							}
						}
					}
				}
			}
		}
	}
	@keyframes moveVertical {
		0% {
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
		}
		50% {
			-webkit-transform: translateY(-20px);
			transform: translateY(-20px);
		}
		100% {
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
		}
	}
	@keyframes animationFramesTwo {
		0% {
			-webkit-transform: translate(0px, 0px) rotate(0deg);
		}
		20% {
			-webkit-transform: translate(73px, -1px) rotate(36deg);
		}
		40% {
			-webkit-transform: translate(141px, 72px) rotate(72deg);
		}
		60% {
			-webkit-transform: translate(83px, 122px) rotate(108deg);
		}
		80% {
			-webkit-transform: translate(-40px, 72px) rotate(144deg);
		}
		100% {
			-webkit-transform: translate(0px, 0px) rotate(0deg);
		}
	}
	/*******************End Offer CSS *******************/

	/*******************Service__wrap CSS *******************/
	.service__wrap {
		background-color: #f9f9f9;
		padding-bottom: 75px;	
		padding-top: 100px;
		.container_center {
			.service__wrap-title {
				position: relative;
				margin-bottom: 40px;
				text-align: center;
				> span {
					color: #015C3B;
					display: inline-block;
    			font-weight: 500;
    			margin: 0 0 10px;
    			position: relative;
    			z-index: 1;
    			line-height: 1;
				}
				> h2 {
					font-size: 40px;
    			margin: 0;
					font-weight: 700;
    			line-height: 1.4;
    			color: #000;
				}
			}
			.service__wrap-content {
				align-items: center;
				display: flex;
				.wrap__content-left {
					width: 33%;
					.service__card {
						display: flex;
						margin-bottom: 25px;
						.service__card-icon {
							width: 100px;
    					height: 125px;
    					background-color: #fff;
    					border-radius: 0 50px 50px 0;
    					transition-duration: 0.4s;
    					position: relative;
    					overflow: hidden;
							display: flex;
							align-items: center;
							> svg {
								font-size: 44px;
    						line-height: 1;
   	 						margin: 0 auto;
    						color: #024E32;
    						transition-duration: 0.4s;
							}
						}
						.service__card-info {
							width: calc(100% - 115px);
							margin: auto 0 auto 15px;
							> h3 {
								margin: 0 0 7px;
								font-size: 24px;
								> a {
									color: #000;
    							text-transform: inherit;
    							text-decoration: none;
    							transition: all 0.3s ease;
								}
							}
							> p {
								font-size: 16px;
    						line-height: 1.8;
    						color: #666666;
							}
						}
						&:hover {
							.service__card-icon {
								background-color: #024E32;
								> svg {
									color: #fff;
								}
							}
						}
					}
				}
				.wrap__img {
					width: 33%;
					> img {
						max-width: 100%;
    				height: auto;
						display: block;
    				margin: 0 auto;
					}
				}
				.wrap__content-right {
					width: 33%;
					.service__card {
						display: flex;
						margin-bottom: 25px;
						.service__card-icon {
							width: 100px;
    					height: 125px;
    					background-color: #fff;
    					border-radius: 0 50px 50px 0;
    					transition-duration: 0.4s;
    					position: relative;
    					overflow: hidden;
							display: flex;
							align-items: center;
							> svg {
								font-size: 44px;
    						line-height: 1;
   	 						margin: 0 auto;
    						color: #024E32;
    						transition-duration: 0.4s;
							}
						}
						.service__card-info {
							width: calc(100% - 115px);
							margin: auto 0 auto 15px;
							> h3 {
								margin: 0 0 7px;
								font-size: 24px;
								> a {
									color: #000;
    							text-transform: inherit;
    							text-decoration: none;
    							transition: all 0.3s ease;
								}
							}
							> p {
								font-size: 16px;
    						line-height: 1.8;
    						color: #666666;
							}
						}
						&:hover {
							.service__card-icon {
								background-color: #024E32;
								> svg {
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
	/*******************End Service__wrap CSS *******************/

	/*******************Cta__wrap  CSS *******************/
	.cta__wrap  {
		position: relative;
    z-index: 1;
		padding-bottom: 75px;
		padding-top: 100px;
		.cta__wrap-shape {
			position: absolute;
    	top: 0;
   	 	left: 0;
   	 	width: 100%;
      height: 57%;
    	background-color: #024E32;
    	z-index: -1;
		}
		.container_center {
			.counter__card-wrap {
				display: flex;
				padding-bottom: 75px;
				.counter__card {
					width: 25%;
    			position: relative;
    			margin-bottom: 25px;
    			text-align: center;
					.counter__card-text {
						text-align: center;
						.card__text-num {
							font-size: 58px;
    					font-weight: 700;
    					line-height: 1;
    					margin: 0 0 10px;
    					color: #DCBE4A;
						}
						> p {
							margin-bottom: 0;
							color: rgba(255, 255, 255, 0.8);
							padding: 0 60px;
    					line-height: 1.5;
							font-size: 18px;
						}
					}
				}
			}
			.counter__content {
				display: flex;
				.counter__content-form {
					background-color: #F5F3F4;
					padding: 35px 35px 10px;
					width: 50%;
					margin: 0 15px;
					.form__title {
						margin-bottom: 30px;	
						position: relative;
						> h2 {
							font-size: 42px;
    					line-height: 1.3;
							margin: 0;
						}
						> p {
							font-size: 16px;
    					line-height: 1.8;
    					color: #666666;
							padding-right: 25px;
							margin: 12px 0 0;
						}
					}
					> form {
						.form__group {
							margin-bottom: 25px;
							> input {
								width: 100%;
    						height: 58px;
    						background-color: #fff;
    						padding: 15px 15px;
    						border: none;
							}
						}
					}
				}
				.counter__contet-video {
					width: 50%;
					height: 610px;
					position: relative;
					background-image: url(/images/video-bg-1.jpg);
					margin: 0 15px;
					background-position: center center;
    			background-size: cover;
					.play-now {
						position: absolute;
						top: 50%;
						left: 50%;
						width: 100px;
						height: 100px;
						transform: translate(-50%, -50%);
						background-color: #DCBE4A;
						font-size: 40px;
						line-height: 99px;
						border: none;
						color: #fff;
    				z-index: 1;
						padding-left: 5px;
						display: block;
						border-radius: 50%;
						> svg {
							position: absolute;
    					left: 40%;
    					top: 30%;
						}
						.ripple {
              height: 100px;
              width: 100px; 
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              transform-origin: center center;
              border-radius: 50%;
              box-shadow: 0 0 0 0 #fff;
              animation: ripple 3s infinite;
              &:before {
                content: "";
                position: absolute;
                height: 100px;
                width: 100px;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                transform-origin: center center;
                border-radius: 50%;
                box-shadow: 0 0 0 0 #fff;
                animation: ripple 3s 0.9s infinite;
              }
              &:after {
                content: "";
                position: absolute;
                height: 100px;
                width: 100px;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                transform-origin: center center;
                border-radius: 50%;
                box-shadow: 0 0 0 0 #fff;
                animation: ripple 3s 0.6s infinite;
              }
            }
					}
				}
			}
			.counter__footer {
				padding-top: 100px;
				justify-content: center;
				display: flex;
				.counter__footer-promo {
					box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    			padding: 22px 25px 22px;
    			position: relative;
    			margin: 0 15px 25px 15px;
    			border-radius: 8px;
    			transition-duration: 0.4s;
					width: 25%;
					.promo__title {
						display: flex;
						align-items: center;
						> span {
							width: 50px;
    					height: 50px;
    					border-radius: 50%;
    					background-color: rgba(2, 78, 50, 0.07);
    					text-align: center;
    					transition-duration: 0.4s;
   					 	position: relative;
    					overflow: hidden;
    					z-index: 1;
							padding: 12px 0;
							> svg {
								font-size: 24px;
    						position: relative;
    						top: 2px;
							}
							&:before {
								content: "";
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								z-index: -1;
								transition: all 0.4s ease-in-out;
							}
							&:after {
								content: "";
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 0;
								content: "";
								background-color: #024E32;
								z-index: -1;
								visibility: hidden;
								opacity: 0;
								transition: all 0.4s ease-in-out;
							}
						}
						> h3 {
							font-size: 24px;
							width: calc(100% - 65px);
    					margin-left: 15px;
							font-weight: 700;
    					line-height: 1.4;
						}
					}
					> p {
						font-size: 16px;
    				line-height: 1.8;
    				color: #666666;
						margin: 0;
					}
					&:hover {
						transform: translateY(-5px);
						.promo__title {
							> span {
								background-color: #024E32;
								> svg {
									color: #fff;
								}
								&:after {
									height: 100%;
									visibility: visible;
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}
	@keyframes ripple {
		70% {
			-webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
							box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
		}
		100% {
			-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
							box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
		}
	}
	/*******************End Cta__wrap  CSS *******************/

	/*******************Feature__wrap CSS *******************/
	.feature__wrap {
		position: relative;
    z-index: 1;
		padding-bottom: 100px;
		.feature__img1 {
			position: absolute;
    	z-index: -1;
			top: 0;
    	left: 0;
			max-width: 100%;
    	height: auto;
		}
		.feature__img2 {
			position: absolute;
    	z-index: -1;
			bottom: 0;
    	right: 0;
			max-width: 100%;
    	height: auto;
		}
		.container_center {
			display: flex;
			.feature__wrap-img {
				width: 50%;
				.wrap-img {
					display: block;
    			margin: 0 auto;
					max-width: 100%;
    			height: auto;
					> img {
						margin: 0 30px;
					}
				}

			}
			.feature__wrap-content {
				width: 50%;
				margin: auto 0;	
				padding: 0 24px;
				margin-left: 50px;
				.content__title {
					position: relative;
					> span {
						color: #015C3B;
						display: inline-block;
    				font-weight: 500;
    				margin: 0 0 10px;
    				position: relative;
    				z-index: 1;
    				line-height: 1;
    				padding-left: 34px;
						> img {
							position: absolute;
    					top: -3px;
    					left: 0;
    					max-width: 25px;
						}
					}
					> h2 {
						font-size: 42px;
    				line-height: 1.3;
					}
					> h6 {
						max-width: 95%;
						font-weight: 500;
						margin: 15px 0 15px;
						line-height: 1.4;
    				color: #000;
						font-size: 1rem;
					}
					> p {
						max-width: 95%;
						padding-right: 25px;
						margin: 12px 0 0;
						font-size: 16px;
    				line-height: 1.8;
    		    color: #666666;
					}
				}
				.feature__content-btn {
					margin-top: 30px;
					display: inline-block;
    			line-height: 26px;
    			font-weight: 500;
					text-align: center;
					position: relative;
    			z-index: 1;
    			border: none;
    			padding: 14px 35px 14px;
    			border-radius: 0;
    			color: #fff;
    			overflow: hidden;
    			white-space: nowrap;
					opacity: 1;
    			transform: translateZ(0);
					&:before {
						content: "";
						background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
						position: absolute;
    				top: 0;
    				left: 0;
    				width: 100%;
    				height: 100%;
    				z-index: -1;
						transition: all 0.4s ease-in-out;
					}
					&:after {
						content: "";
						position: absolute;
    				bottom: 0;
    				right: 0;
						width: 0;
						height: 100%;
						visibility: hidden;
    				opacity: 0;
    				z-index: -1;
            transition: all 0.4s ease-in-out;
						background: linear-gradient(-90deg, #A8DC51 0%, #4CA754 99.88%);
					}
					&:hover {
						color: white;
						&:after {
							width: 100%;
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	/*******************End Feature__wrap CSS *******************/
	
	/*******************Newsletter CSS *******************/
	.newsletter {
		position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: #024E32;
		padding-top: 100px;
    padding-bottom: 100px;
		.newsletter_img1 {
			bottom: 0;
    	left: 0;
			position: absolute;
    	z-index: -1;
    	opacity: 0.5;
		}
		.newsletter_img2 {
			bottom: 0;
   		right: 0;
			position: absolute;
			z-index: -1;
		  opacity: 0.5;
			animation: moveHorizontal 3000ms infinite ease-in-out;
		}
		.newsletter_img3 {
			top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
			position: absolute;
    	z-index: -1;
    	opacity: 0.5;
			animation: animationFramesTwo 20000ms infinite ease-in-out;
		}
		.container_center {
			display: flex;
			.newsletter__content {
				position: relative;
				width:  50%;
				padding: 0 12px;
				> span {
					color: #DCBE4A;
					display: inline-block;
    			font-weight: 500;
    			margin: 0 0 10px;
    			position: relative;
    			z-index: 1;
    			line-height: 1;
    			padding-left: 34px;
					> img {
						position: absolute;
    				top: -3px;
    				left: 0;
    				max-width: 25px;
					}
				}
				> h2 {
					color: #fff;
					font-size: 42px;
    			line-height: 1.3;
					font-weight: 700;
				}
				> p {
					color: rgba(255, 255, 255, 0.8);
					padding-right: 25px;
					margin: 12px 0 0;
				}
			}
			.newsletter__form {
				position: relative;
				width: 50%;
				margin: auto 0;
				> input {
					width: 100%;
    			height: 70px;
    			border: none;
    			border-radius: 0;
    			background-color: #fff;
    			border: 1px solid #000;
    			color: #666666;
    			text-align: left;
    			padding: 15px 128px 12px 18px;
    			transition-duration: 0.4s;
				}
				> button {
					position: absolute;
    			top: 8px;
    			right: 8px;
    			border: none;
    			padding: 5px 28px;
    			height: calc(100% - 16px);
    			background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
    			border-radius: 0;
    			color: #fff;
    			text-align: center;
    			display: inline-block;
					cursor: pointer;
				}
			}
		}
	}
	@keyframes moveHorizontal {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
	}
	/*******************End Newsletter CSS *******************/

	/*******************Testimonial CSS *******************/
	.testimonial {
		background-color: #f9f9f9;
		padding-top: 100px;
    padding-bottom: 100px;
		.container_center {
			.testimonial__title {
				position: relative;
				margin-bottom: 40px;
				text-align: center;
				> span {
					color: #015C3B;
					display: inline-block;
    			font-weight: 500;
    			margin: 0 0 10px;
    			position: relative;
    			z-index: 1;
    			line-height: 1;
    			padding-left: 34px;
					> img {
						position: absolute;
    				top: -3px;
    				left: 0;
    				max-width: 25px;
					}
				}
				> h2 {
					font-size: 42px;
    			line-height: 1.3;
				}
			}
			.testimonial__slider {
				display: block;
				.item {
					margin-bottom: 0;
					background-color: #fff;
    			border-radius: 5px;
    			margin: 0 0 25px;
    			position: relative;
    			z-index: 1;
    			padding: 25px;
					> p {
						margin-bottom: 20px;
						font-size: 16px;
    				line-height: 1.8;
    				color: #666666;
						transition-duration: 0.4s;
					}
					.item__info {
						align-items: center;
						.info__wrap {
							align-items: center;
							display: flex;
							.info__wrap-img {
								width: 65px;
								height: 65px;
								> img {
									border-radius: 50%;
								}
							}
							.info__wrap-content {
								width: calc(100% - 85px);
    						margin-left: 20px;
								> h3 {
									font-size: 24px;
									line-height: 1.2;
    							margin-bottom: 8px;
									transition-duration: 0.4s;
									font-weight: 700;	
									color: #000;
								}
								> span {
									font-size: 14px;
    							display: block;
    							line-height: 1;
    							transition-duration: 0.4s;
								}
							}
							.info__wrap-icon {
								> svg {
									display: inline-block;
    							position: relative;
    							top: 3px;
    							font-size: 40px;
    							line-height: 0.8;
    							color: #024E32;
    							opacity: 0.4;
								}
							}
						}
					}
				}
				.owl-nav {
					display: none;
				}
				.owl-dots {
					margin-top: 20px;
					text-align: center;
					.owl-dot {
						display: inline-block;
						margin: 0;
						position: relative;
						bottom: -5px;
						background: 0 0;
						color: inherit;
						border: none;
						padding: 0!important;
						font: inherit;
						> span {
							width: 20px;
							height: 10px;
							border-radius: 50px;
							background-color: rgba(2, 78, 50, 0.1);
							transition: all 0.4s ease-in-out;

						}
					}
					.active {
						> span {
							width: 32px;
							background-color: #DCBE4A;
							transition: all 0.4s ease-in-out;
						}
					}
				}
			}
		}
	}
	/*******************End Testimonial CSS *******************/

	/*******************Blog CSS *******************/
	.blog {
		padding-bottom: 75px;
		padding-top: 100px;
		.container_center {
			.blog__title {
				position: relative;
				margin-bottom: 40px;
				text-align: center;
				> span {
					color: #015C3B;
					display: inline-block;
    			font-weight: 500;
   	  		margin: 0 0 10px;
    			position: relative;
    			z-index: 1;
    			line-height: 1;
    			padding-left: 34px;
				}
				> h2 {
					font-size: 42px;
    			line-height: 1.3;
					font-weight: 700;
					color: #000;
				}
			}
			.blog__content {
				justify-content: center;
				display: flex;
				.blog__content-card {
					border-radius: 8px;
    			position: relative;
					box-shadow: 0px 2px 16px 0px rgb(0 0 0 / 11%);
					margin: 0 12px;
    			margin-bottom: 25px;
					transition-duration: 0.4s;
					.blog__card-img {
						border-radius: 8px 8px 0 0;
						overflow: hidden;
    				position: relative;
						> img {
							border-radius: 8px 8px 0 0;
							transition-duration: 0.7s;
							max-width: 100%;
    					height: auto;
							vertical-align: middle;
						}
					}
					.blog__card-info {
						padding: 22px 25px 0;
						border-radius: 0 0 8px 8px;
						> h3 {
							font-weight: 700;
    					line-height: 1.4;
    					color: #000;
							font-size: 22px;
    					margin-bottom: 15px;
							> a {
								color: #000;
    						text-transform: inherit;
    						text-decoration: none;
    						transition: all 0.3s ease;
							}
						}
						> p {
							margin: 0 0 12px;
							font-size: 16px;
    					line-height: 1.8;
    					color: #666666;
						}
						> a {
							font-weight: 500;
    					line-height: 26px;
    					display: inline-block;
    					position: relative;
    					color: #024E32;
    					transition: all 0.4s ease-in-out;
							&:after {
								content: "";
								position: absolute;
    						bottom: 0;
    						left: 0;
    						width: 0;
    						height: 1px;
    						background: #024E32;
    						visibility: hidden;
    						opacity: 0;
    						transition: all 0.4s ease-in-out;
							}
							&:hover {
								color: #024E32;
								&:after {
									visibility: visible;
									opacity: 1;
									width: 100%;
								}
							}
						}
					}
					.blog__metainfo {
						margin-top: 20px;
    				padding: 15px 25px 20px;
    				border-top: 1px solid rgba(0, 0, 0, 0.1);
						margin-bottom: 12px;
						> li {
							display: inline-block;
    					position: relative;
    					padding-left: 20px;
    					margin-right: 15px;
    					font-size: 15px;
    					transition-duration: 0.3s;
							> svg {
								position: absolute;
    						top: 2px;
    						left: 0;
    						font-size: 15px;
    						line-height: 0.8;
    						color: #024E32;
    						transition-duration: 0.3s;
							}
							> a {
								font-size: 13px;
    						color: #666666;
    						transition-duration: 0.3s;
							}
						}
						.blog__metainfo-cmt {
							display: inline-block;
    					position: relative;
    					padding-left: 20px;
    					margin-right: 0;
    					font-size: 15px;
    					transition-duration: 0.3s;
							> svg {
								position: absolute;
    						top: 5px;
    						left: 0;
    						font-size: 15px;
    						line-height: 0.8;
								color: #024E32;
								transition-duration: 0.3s;

							}
						}
					}
				}
			}
		}
	}
	/*******************End Blog CSS *******************/
}
/*******************End Main CSS *******************/

/*******************Footer CSS *******************/
.footer {
	position: relative;
  background-color: #024E32;
  z-index: 1;
  overflow: hidden;
	.footer_image1 {
		bottom: 0;
    left: 0;
    opacity: 0.5;
		position: absolute;
    z-index: -1;
	}
	.footer_image2 {
		bottom: 0;
    right: 0;
		position: absolute;
    z-index: -1;
	}
	.footer_image3 {
		bottom: 0;
    left: 30%;
    transform: translateX(-50%);
		position: absolute;
    z-index: -1;
		animation: moveHorizontal 3000ms infinite ease-in-out;
	}
	.footer_image4 {
		position: absolute;
    z-index: -1;
		animation: animationFramesTwo 20000ms infinite ease-in-out;
	}
	.container_center {
		padding-bottom: 75px;
		padding-top: 100px;
		display: flex;
		.footer__text1 {
			margin-bottom: 25px;
			width: calc(100%  / 3);
			.footer__text1-logo {
				display: block;
				cursor: pointer;
			}
			> p {
				padding-right: 40px;
				color: rgba(255, 255, 255, 0.8);
    		margin: 26px 0 25px;
				font-size: 16px;
    		line-height: 1.8;
			}
			> ul {
				margin: 0;
    		padding: 0;
    		list-style: none;
				> li {
					display: inline-block;
    			margin: 0 4px;
					list-style: none;
					> a {
						background: rgba(255, 255, 255, 0.1);
    				border-radius: 0;
						border: 1px solid transparent;
    				text-align: center;   
						width: 32px;
    				height: 32px;
    				transition: all 0.3s ease-in-out;
						display: inline-block;
						> svg {
							color: #DCBE4A;
							transition: all 0.3s ease-in-out;
    					font-size: 16px;
    					line-height: 0.8;
							padding-top: 7px;
						}
						&:hover {
							transform: translateY(-2px);
							color: #fff;
    					font-size: 18px;
							background-color: #fff;
							> svg {
								color: #024E32;
							}
						}
					}
				}
			}
		}
		.footer__text2 {
			margin-bottom: 25px;
			padding: 0 12px;
			width: calc(100% / 6);
			> h3 {
				position: relative;
    		font-size: 24px;
    		font-weight: 700;
    		color: #fff;
    		margin-bottom: 30px;
    		padding-bottom: 20px;
				line-height: 1.4;
				&:before {
					content: "";
					position: absolute;
    			bottom: 0px;
    			left: 0;
    			width: 90px;
    			height: 2px;
    			background-color: rgba(255, 255, 255, 0.15);
				}
				&:after {
					content: "";
					position: absolute;
    			bottom: 0;
    			left: 0;
    			width: 35px;
    			height: 2px;
    			background-color: #DCBE4A;
				}
			}
			.text2__menu {
				margin: 0;
    		padding: 0;
    		list-style: none;
				> li {
					margin-bottom: 15px;
					list-style: none;
					> a {
						color: rgba(255, 255, 255, 0.8);
    				position: relative;
    				padding-left: 18px;
						transition: all 0.3s ease;
						&:after {
							content: "";
							position: absolute;
    					top: 8px;
    					left: 0;
    					width: 8px;
    					height: 8px;
    					border-radius: 50%;
    					background-color: rgba(255, 255, 255, 0.15);
    					transition-duration: 0.4s;
						}
						&:hover {
							color: #DCBE4A;
    					padding-left: 22px;
							position: relative;
							&:after {
								background-color: #DCBE4A;
							}
						}
					}
				}
			}
		}
		.footer__text3 {
			padding: 0 12px 0 48px !important;
			width: calc(100% / 4);
		}
		.footer__text4 {
			padding: 0 12px;
			width: calc(100% / 4);
			.text4__menu {
				margin: 0;
    		padding: 0;
    		list-style: none;
				> li {
					position: relative;
    			padding-left: 25px;
    			margin-bottom: 15px;
					list-style: none;
					> svg {
						position: absolute;
    				top: 4px;
    				left: 0;
    				font-size: 16px;
    				line-height: 1;
    				color: #fff;
    				transition-duration: 0.3s;
					}
					> h6 {
						color: #fff;
    				font-weight: 500;
    				margin: 0 0 5px;
						line-height: 1.4;
						font-size: 1rem;
					}
					> a {
						color: rgba(255, 255, 255, 0.8);
    				margin-bottom: 0;
    				transition-duration: 0.3s;
					}
					&:hover {
						> svg {
							color: #DCBE4A;
						}
						> a {
							color: #DCBE4A;
						}
					}
				}
			}
		}
	}
	.footer__text {
		padding: 18px  10px;
		margin: 0;
    color: #fff;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
		font-size: 16px;
    line-height: 1.8;
		> svg {
			position: relative;
   	  top: 2px;
    	margin-right: 2px;
		}
		> a {
			color: #DCBE4A;
    	font-weight: 500;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
/*******************End Footer CSS *******************/
